.denner-card {
  max-width: 400px;
}

.avatar-image {
  background-image: url('../../assets/img/perfil.png');
  background-size: cover;
}

.cartao{
  margin-top: 40px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.foto-perfil{
    width: 270px;
    padding: 10px 80px;

}

.projetos{
  margin-left: 30px;
  max-width: 500px;
  max-height: 500px;
  text-align: center;
}

h1{
  color: rgb(71, 20, 255);
  font-size:xx-large;
  font-weight: bolder;
}
.sites{
  background-size: cover;
  width: 300px;
  height: 150px;
}
