<div class="cartao">
  <mat-card class="denner-card">
    <mat-card-header>
      <div mat-card-avatar class="avatar-image"></div>
      <mat-card-title>Denner Cerqueira Evangelista</mat-card-title>
      <mat-card-subtitle>Desenvolvedor Angular - Front-end</mat-card-subtitle>
    </mat-card-header>
      <img mat-card-image class="foto-perfil" src="../../assets/img/perfil.png" alt="Foto Denner perfil">
    <mat-card-content>
      <p>
        Seja bem-vindo. Sou desenvolvedor Angular, tenho {{ idade }} e esse é um espaço onde compartilho meus trabalhos e meu currículo,
        espero que curta e fique a vontade para explorar.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a color="primary" mat-raised-button href="https://www.linkedin.com/in/denner-cerqueira-evangelista-6b70bb28/" target="_blank">Linkedin</a>
      <a mat-raised-button href="https://github.com/dennersam" target="_blank">GitHub</a>
    </mat-card-actions>
  </mat-card>

  <div class="projetos">
    <h1>PROJETOS</h1>
    <img class="sites" src="../../assets/img/denner.mus.jpg">
    <img class="sites" src="../../assets/img/denner.mus.jpg">
    <img class="sites" src="../../assets/img/denner.mus.jpg">
  </div>

</div>

