.denner-card {
  max-width: 400px;
}

.avatar-image {
  background-image: url('../../assets/img/perfil.png');
  background-size: cover;
}

.cartao{
  margin-top: 40px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.foto-perfil{
    width: 390px;
    padding: 10px 80px;

}

.projetos{
 margin-bottom: 35px;
}

h1{
  color: rgb(71, 20, 255);
  font-size:xx-large;
  font-weight: bolder;
}

.carousel-indicators {
  display: none;

}
