<div class="cursos-content" id="cursos">
  <span class="material-icons icon-title">import_contacts</span>
  <h1>Cursos Extras</h1>
</div>

<div class="cards-content">

  <mat-card class="courses-card">
    <img mat-card-image src="../../assets/img/DIO_Logo.png" alt="logo_dio">
    <mat-card-header>
      <mat-card-title>HTML Web Developer</mat-card-title>
      <mat-card-subtitle>Digital Innovation One</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Emitido em janeiro de 2021</p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>

  <mat-card class="courses-card">
    <img mat-card-image src="../../assets/img/mysql.png" alt="logo_mysql">
    <mat-card-header>
      <mat-card-title>Banco de Dados com MySQL</mat-card-title>
      <mat-card-subtitle>Plataforma - Curso em Vídeo</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Emitido em outubro de 2020</p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>

  <mat-card class="courses-card">
    <img mat-card-image src="../../assets/img/python.png" alt="desenvolvedor-python">
    <mat-card-header>
      <mat-card-title>Bootcamp Desenvolvedor Python</mat-card-title>
      <mat-card-subtitle>IGTI</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Emitido em julho de 2020</p>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>


  <mat-card class="courses-card">
    <img mat-card-image src="../../assets/img/java_logo.png" alt="logo_java">
    <mat-card-header>
      <mat-card-title>JAVA - Fundamentos de Programação</mat-card-title>
      <mat-card-subtitle>Udemy</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Emitido em novembro de 2018</p>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>


</div>



