<div class="contato-content" id="contato">
  <span class="material-icons icon-title">mail_outline</span>
  <h1>Contato</h1>

  <mat-form-field appearance="legacy">
    <mat-label>Nome</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>E-mail</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Textarea</mat-label>
    <textarea matInput rows="10" cols="50"></textarea>
  </mat-form-field>
  <button type="submit" color="primary" mat-raised-button>Enviar</button>

</div>
