<div class="exp-content" id="experiencias">
  <span class="material-icons icon-title">work</span>
  <h1>Experiências</h1>
</div>

<div class="cards-exp">
  <mat-card class="card-ext">
    <img mat-card-image class="logo" src="../../assets/img/exterran-logo.jpg" alt="Logo Exterran">
    <mat-card-header>
      <mat-card-title>Exterran - Serviços de Óleo e Gás</mat-card-title>
      <mat-card-subtitle>Estágio em Informática</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Período de 09/2011 a 09/2013
      </p>
      <p>
        Desenvolvi importantes trabalhos iniciais na minha carreira, conheci diversas ferramentas
        para atual com suporte em TI.
      </p>
      <p>Trabalhei com suporte ao Windows XP e 7 como sistema cliente, Windows Server 2008 R2, suporte ao pacote office 2010,
        infraestrutura de rede e cabeamento, configuração de switches e roteadores, atendimento a chamados, manutenção
        de computadores.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a color="primary" mat-raised-button href="https://www.exterran.com/" target="_blank">Site Exterran</a>
    </mat-card-actions>
  </mat-card>


  <mat-card class="card-ext">
    <img mat-card-image class="logo" src="../../assets/img/logo_tipro.png" alt="Logo Tipro">
    <mat-card-header>
      <mat-card-title>TiPro - Tecnologia da Informação</mat-card-title>
      <mat-card-subtitle>Analista de Suporte Pleno</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Início em 07/2014 até hoje.
      </p>
      <p>
        Responsável por atender as demandas da empresa e manter todos os sistemas atualizados e em operação, administrar toda parte de rede e
        tenologia.
      </p>
      <p>Atuando com suporte ao Windows 10 como sistema cliente, Windows Server 2016/2019, Servidores Linux, Monitoramento com Zabbix e Grafana,
        Adminitração de Firewall PFSense, VPN, Arquitetura de Wi-Fi com Ubiquits, Administrar sistema de chamados com GLPI.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a color="primary" mat-raised-button href="http://tipro.com.br/" target="_blank">Site Tipro</a>
    </mat-card-actions>
  </mat-card>

</div>

